page-header {
    ion-buttons {
        order: 1
        }
    ion-title{
        text-align: center;
    }

    .logo-header {
        // top: 50%;
        // position: absolute;
        -webkit-transform: translatey(0%) scale(0.7);
        transform: translatey(0%) scale(0.7);
        
    }
}
