

<ion-content padding>

<ion-grid *ngIf="!service.isTerminateOrdered&&!service.isPayed">
    <ion-row justify-content-center align-items-center>
            <ion-col col-2>
            <button ion-button block color="light-blue-color" class="height-button-w"(click)="service.isPayed=true">אשראי</button></ion-col>

            <ion-col col-2>
            <button ion-button block color="pink-color" class="height-button-w"(click)="service.isPayed=true">צקים</button></ion-col>

            <ion-col col-2>
            <button ion-button block color="green-color" class="height-button-w"(click)="service.isPayed=true">מזומן</button></ion-col>

     </ion-row>
</ion-grid>

<ion-grid *ngIf=" !service.isTerminateOrdered&& service.isPayed">
<form [formGroup]="this.frmPay" >


  <ion-row justify-content-center align-items-center>
<ion-col>
<!-- <input type="checkbox" formControlName="formOfUse"/> -->
<ion-checkbox formControlName="formOfUse"></ion-checkbox>
    <a (click)="routeToFormofuse()">הריני מאשר את תקנון השימוש</a>


<ion-row justify-content-center align-items-center>
        <ion-col col-2>
        <ion-item class="border-input height-button-w" (click)="openSignatureModel()"><img [src]="service.signatureImage" *ngIf="service.signatureImage" /></ion-item>
        </ion-col>

        <ion-col col-2 >
        <ion-item  class="border-input height-button-w" (click)="openSignature1Model()"><img [src]="service.signatureImage1" *ngIf="service.signatureImage1" /></ion-item>
        </ion-col>

        <ion-col col-2>
        <button ion-button block color="blue-color" class="height-button-w"(click)="resetAll()" [disabled]="!this.frmPay.valid">המשך</button>
        </ion-col>

</ion-row>
    </ion-col>
</ion-row>
</form>
</ion-grid>



<ion-grid  *ngIf="service.isTerminateOrdered">
<ion-row justify-content-center align-items-center>

    <ion-col align-self-center text-center>
        <img src="assets/imgs/check.png"/>
    <p color="blue-color" class="f-size-big">ההזמנה בוצעה בהצלחה</p>
         </ion-col>

</ion-row>
</ion-grid>
</ion-content>

