page-gallery {
    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        // background: #e7e3e3;
    }
 
    .thumb-img {
        padding: 5px;
        height: 350px;
        width: 350px;
    }



    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


    #notifications-badge {
        background-color: rgba(73, 24, 24, 0.322);
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
}
