
<ion-content padding>
<ion-grid>
    <ion-row justify-content-center align-items-stretch>
        <ion-col>

                <ion-list-header text-center>
              <button *ngIf="this.arrowUp" ion-long-press [interval]="200" class="icon-arrow-up-05  f-size-icon bg-transpare" (click)="this.ionViewDidEnterUp()" (onPressStart)="this.ionViewDidEnterUp()" (onPressing)="this.ionViewDidEnterUp()" ></button>
                </ion-list-header>

                  <ion-content  #contentRef (ionScroll)="this.scrollingFun($event)" text-right style="width:100%;">
                        <ion-item *ngIf="this.service.packageInCart?.PackageId" class="border-list">
                                  <span>            חבילת
                        {{this.service.packageInCart.PackageName}}</span>
                        <span> מחיר:
                        {{this.service.packageInCart.PackagePrice}} שקל</span>
                        
                        <button float-end class="f-size-icon bg-transpare icon-icon-x_Artboard-2-01" (click)="deletePackage()"></button>
                        </ion-item>
                        <ion-item *ngFor="let p of service.productsOfCart" class="border-list"  text-right style="width:100%;">
                       <span> {{p.ProductShortName}}
                        </span>
                        <span>מחיר:{{p.Price}}
                        שקל</span>
                        <button float-end class="f-size-icon bg-transpare icon-icon-x_Artboard-2-01" (click)="deleteProduct(p.ProductId)"></button>
                    </ion-item>
                  </ion-content>
                  <ion-list-header text-center>
              <button *ngIf="this.arrowDown"  ion-long-press [interval]="200" class="icon-arrow-down-04  f-size-icon  bg-transpare" (click)="this.ionViewDidEnterDown()" (onPressStart)="this.ionViewDidEnterDown()" (onPressing)="this.ionViewDidEnterDown()"></button>
                  </ion-list-header>

          </ion-col>

            <ion-col class="bg-gray">
                <ion-row justify-content-center>
                    <ion-col align-self-center>
           <form class="form-50">
            <button ion-button block margin-bottom color="light-blue-color" (click)="routeToPackages()"><span>הוסף / שנה חבילה</span>  </button>
            <button ion-button block margin-bottom color="pink-color" (click)="this.routeToProducts()">הוסף מוצר </button>
            <button ion-button block margin-bottom color="green-color"  (click)="onGoToPersonalFormPage(this.StoreId)" >המשך לתשלום</button>
           </form>
                    </ion-col>
                </ion-row>

           </ion-col>

  </ion-row>
</ion-grid>

<button id="demoBtn"  (click)="this.demoFunc()" hidden="true" >Button</button>

</ion-content>


