
<ion-content padding>
<ion-grid>
    <ion-row>
        <ion-col>
          <div class="col-md-6">
            <div class="container-lia container">
            <div class="t-center">
              <i *ngIf="this.arrowUp" ion-long-press [interval]="200" class="icon-arrow-up-05 t-center blue f-size-icon" (click)="this.ionViewDidEnterUp()" (onPressStart)="this.ionViewDidEnterUp()" (onPressing)="this.ionViewDidEnterUp()" ></i></div>

                  <ion-content padding #contentRef (ionScroll)="this.scrollingFun($event)" style="height: 250px">
                <ion-item *ngFor="let p of service.productsOfCart">
{{p.ProductId}}
<i float-end class="icon-arrow-down-04 t-center  f-size-icon " (click)="service.clickDeleteToCart(p.ProductId)"></i>
                    </ion-item>
                  </ion-content>


            <div class="t-center" >
              <i *ngIf="this.arrowDown"  ion-long-press [interval]="200" class="icon-arrow-down-04 t-center blue f-size-icon" (click)="this.ionViewDidEnterDown()" (onPressStart)="this.ionViewDidEnterDown()" (onPressing)="this.ionViewDidEnterDown()"></i></div>
            </div>
            </div>
          </ion-col>
            <ion-col>
            <div class="col-md-6 bg-gray">
            <div class="container-lia container">
            <div class="col-md-8 col col-md-offset-2">

            <a >
            <button  ion-button block class="btn btn-width bg-light-blue" (click)="routeToPackages()">הוסף / שנה חבילה </button>

            </a>
            <a >
            <button ion-button block class="btn btn-width bg-pink" (click)="this.routeToProducts()">הוסף מוצר </button>
            </a>
            <button ion-button block class="btn btn-width bg-green"  (click)="onGoToPersonalFormPage(this.StoreId)" >המשך לתשלום</button>

            </div>
            </div>
          </div>
        </ion-col>

  </ion-row>
</ion-grid>

<button id="demoBtn"  (click)="this.demoFunc()" hidden="true" >Button</button>

</ion-content>


 <!-- <div class="border-bottam-table blue" *ngFor="let pr of service.productsOfCart">
            <span class="col-md-3 col-xs-3">  {{pr.Duration}}  </span>
            <span class="col-md-4 col-xs-4">  {{pr.DurationText}} </span>
            <span class="col-md-4 col-xs-4">  {{pr.Price}}</span>
            <span class="col-md-1 col-xs-1"><i (click)=" service.clickDeleteFromCart(pr.ProductId)">x</i></span>
            </div> -->
