page-signature1 {
    
  .grid  {
    height: auto;
    .row{
      height: auto; 
    }
}
        signature-pad {
          canvas {
            border: dashed 1px #cccccc;
            width: 100%;
            height: 200px;
          }
        }
     
      
}
