page-customers {


//    .no-scroll div {overflow-y: hidden}

    .border-list{
        border-bottom:1px solid color($colors, green-color);
     }

     .searchbar-md {
        padding: 8px 0;
    }

     .searchbar-md .searchbar-input {
        box-shadow: none;
        border: 1px solid color($colors, green-color);
        text-align: right;
        
      }

      .f-size-icon {
        font-size: 1.8em;
        color:color($colors, green-color);
    }

}
