<!-- <div  class="has-header has-tabs no-scroll" padding> -->
    <ion-content padding>
      <ion-grid>
        <ion-row justify-content-center align-items-stretch> <!-- [expandHeight]="itemExpandHeight" -->
         <ion-col >



          
      
    <!-- <ion-slides  >
        <ion-slide style="vertical-align:top" class="slide-zoom">
       
                    
                      <ion-item  *ngFor="let item of customersFilter" >
                          {{item?.StoreName}}
                          <ion-range [(ngModel)]="item.StoreName" min="0" max="10" step="2">
                            <ion-icon range-left small name="person"></ion-icon>
                            <ion-icon range-right name="people"></ion-icon>
                          </ion-range>
                      </ion-item>
        
        </ion-slide>
  </ion-slides> -->
  



          <ion-list-header text-center no-margin no-padding>
          <button *ngIf="this.arrowUp" ion-long-press class="icon-arrow-up-05 f-size-icon bg-transpare" (click)="this.ionViewDidEnterUp()" [interval]="300"  (onPressStart)="this.ionViewDidEnterUp($event)" (onPressing)="this.ionViewDidEnterUp($event)"></button>
           </ion-list-header>
              <ion-content  #contentRef (ionScroll)="scrollingFun($event)" >
                 <ion-item  *ngFor="let item of customersFilter"  class="border-list">
                    <button class="bg-transpare" (click)="expandItem(item) "  style="width:100%">
                      <span float-start>{{item?.StoreName}}</span>
                      <button float-end class="f-size-icon bg-transpare" [ngClass]="{'icon-arrow-down-04': !item.expanded, 'icon-icon-x_Artboard-2-01': item.expanded}" ></button>
                    </button>
                 
                      <page-expandable  [expanded]="item.expanded" >
                        <ion-scroll style="min-height: 20vh; height:auto;" scrollY="true">
                          <p *ngIf="service.customerDetails?.Address"> כתובת :   {{service.customerDetails?.Address}}</p>
                          <p  *ngIf="service.customerDetails?.Categories">קטגוריות : {{service.customerDetails?.Categories}}</p>
                           <p *ngIf="service.customerDetails?.Category">קטגוריה : {{service.customerDetails?.Category}}</p>
                           <p *ngIf="service.customerDetails?.City">עיר :  {{service.customerDetails?.City}}</p>
                           <p *ngIf="service.customerDetails?.HP">ח"פ : {{service.customerDetails?.HP}}</p>
                           <!-- <p *ngIf="service.customerDetails?.Lat">לאט : {{service.customerDetails?.Lat}}</p>
                           <p *ngIf="service.customerDetails?.LogoData">נתוני לוגו : {{service.customerDetails?.LogoData}}</p> -->
                           <!-- <p *ngIf="service.customerDetails?.LogoExtension">לוגו מורחב : {{service.customerDetails?.LogoExtension}}</p> -->
                           <!-- <p *ngIf="service.customerDetails?.LogoUrl">כתובת לוגו : {{service.customerDetails?.LogoUrl}}</p>
                           <p *ngIf="service.customerDetails?.Long">ארוך : {{service.customerDetails?.Long}}</p>
                           <p *ngIf="service.customerDetails?.MinPriceToTicket">מחיר לכרטיס : {{service.customerDetails?.MinPriceToTicket}}</p>
                           <p *ngIf="service.customerDetails?.MoreDetails">פרטים נוספים : {{service.customerDetails?.MoreDetails}}</p> -->
                           <p *ngIf="service.customerDetails?.OpenHours">שעות פתיחה : {{service.customerDetails?.OpenHours}}</p>
                           <p *ngIf="service.customerDetails?.Owner">בעלים : {{service.customerDetails?.Owner}}</p>
                           <!-- <p *ngIf="service.customerDetails?.PackageId">מספר חבילה : {{service.customerDetails?.PackageId}}</p> -->
                           <p *ngIf="service.customerDetails?.PackageName">שם חבילה : {{service.customerDetails?.PackageName}}</p>
                           <p *ngIf="service.customerDetails?.Phone">מספר פלאפון : {{service.customerDetails?.Phone}}</p>
                           <!-- <p *ngIf="service.customerDetails?.StoreId">מזהה עסק : {{service.customerDetails?.StoreId}}</p>
                           <p *ngIf="service.customerDetails?.StoreName">שם עסק : {{service.customerDetails?.StoreName}}</p> -->
                           <!-- <p *ngIf="service.customerDetails?.User?.Cellphone">מספר הפלאפון של המשתמש: {{service.customerDetails?.User.Cellphone}}</p> -->
                        </ion-scroll>
                      </page-expandable>
            </ion-item>
              </ion-content>
        
        <ion-list-header text-center no-margin no-padding>
          <button *ngIf="this.arrowDown" ion-long-press [interval]="300"  class="icon-arrow-down-04 f-size-icon bg-transpare" #downBtn (click)="this.ionViewDidEnterDown()" (onPressStart)="this.ionViewDidEnterDown()" (onPressing)="this.ionViewDidEnterDown()"></button>
        </ion-list-header>
        </ion-col>
     <ion-col class="bg-gray">
       <ion-row justify-content-center>
         <ion-col align-self-center>
       <form class="form-50">
          <ion-input type="search" margin-bottom placeholder=" חיפוש לקוח קיים" (input)="onSearchInput($event)" color="green-color"></ion-input>
          <button ion-button block type="button" color="green-color" (click)="routeToCart(this.service.customerDetails.StoreId)"  >{{valueButton}}</button>
           
        </form>
      </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button id="demoBtn"  (click)="this.demoFunc()" hidden="true" >Button</button>
<!-- </div> -->
</ion-content>
