
<ion-header>

  <ion-navbar>
    <page-header></page-header>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
<ion-row>
<ion-col>

    <ion-scroll scrollY="true" style="height: 200px">
<div (click)="customerClicked()">
        <ion-item *ngFor="let c of this.service.customers" >
        {{c.num}}{{c.name}}{{c.address}}

<!-- <details (click)="customerClicked()"> -->
<div *ngIf="this.allowDetails">
פרטים של הלקוח
<ion-scroll scrollY="true" style="height: 50px">
    fffffffffffff
    <br>
    kkkkkkkkkkkk
    <br>
    ggggggggg
      </ion-scroll>
    </div>
<!-- </details> -->
        </ion-item>
      </div>
      </ion-scroll>

</ion-col>

<ion-col>

    <form>
        <ion-input type="search" placeholder=" חיפוש לקוח קיים" (input)="this.search($event)" ></ion-input>
        <button ion-button type="button" (click)="routeToCart()" block>{{this.valueButton}}</button>
    </form>

</ion-col>
</ion-row>
</ion-grid>

</ion-content>


