
<ion-content class ="has-header has-tabs padding">
  <ion-grid>
    <ion-row >
      <ion-col >
        <ion-list-header text-center Large>
          <i *ngIf="this.arrowUp" ion-long-press class="icon-arrow-up-05 f-size-icon" (click)="this.ionViewDidEnterUp()" [interval]="300"  (onPressStart)="this.ionViewDidEnterUp($event)" (onPressing)="this.ionViewDidEnterUp($event)"></i>

        </ion-list-header>

        <!-- <ion-scroll scrollY="true" style="height: 400px"> -->
            <ion-content padding #contentRef (ionScroll)="scrollingFun($event)"  style="height: 400px"  >

                <ion-list no-margin>
                 <ion-item  *ngFor="let item of customersFilter" full no-margin>
                    <button detail-none (click)="expandItem(item) " ion-item  class="border-list">
                   
                      <span>{{item.StoreName}}</span>
                      <span>{{item.Address}}</span> 

                      <button float-end class="f-size-icon icon-arrow-down-04 bg-transpare" color="green-color"> </button>
                       <!-- <i class=""></i> -->
                    </button>
                      <page-expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">

                        <ion-scroll style="height: 70px" scrollY="true">
                          <br>{{service.customerDetails?.Address}}
                          <br>{{service.customerDetails?.City}}
                          <br>{{service.customerDetails?.Categories}}
                        </ion-scroll>

                      </page-expandable>

                   </ion-item>
                  </ion-list>


          </ion-content>
        <!-- </ion-scroll> -->

        <ion-list-header text-center>

          <i *ngIf="this.arrowDown" ion-long-press [interval]="300"  class="icon-arrow-up-05 f-size-icon" #downBtn (click)="this.ionViewDidEnterDown()" (onPressStart)="this.ionViewDidEnterDown()" (onPressing)="this.ionViewDidEnterDown()"></i>

        
        </ion-list-header>

        </ion-col>
     <ion-col>
       <form class="form-50">
          <ion-searchbar type="search" placeholder=" חיפוש לקוח קיים" (input)="onSearchInput($event)" color="green-color"></ion-searchbar>
          <button ion-button block type="button" color="green-color" (click)="routeToCart(this.service.customerDetails.StoreId)">{{valueButton}}</button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
  <button id="demoBtn"  (click)="this.demoFunc()" hidden="true" >Button</button>
</ion-content>
