page-product-details {
    .img{
        width: 120px;
        height:190px;
    }
    .div
    {
        width: 130px;
        height:200px;
        display:inline-block;
        vertical-align:middle;
        position: relative;
        left: 1000px;
        top: 50%;
        margin-top: 100px;
        
   }
}
