page-product-details {
 
.package-right{

    ion-row{
        border-left: 1px solid color($colors, light-blue-color);
        margin-left: 9px;
               
            

            .btn-white {
                border: 1px solid  color($colors, light-blue-color);
                height: 47px;
                border-radius: 15px;
                color: color($colors, light-blue-color);
                font-size: 1.3em;
            }
        }
}

   .package-left {
    border: 1px solid color($colors, light-blue-color);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;

    
    ion-item:nth-child(1){
        width: 80%;
        border-bottom: 2px solid color($colors, light-blue-color);
        border-top: 2px solid color($colors, light-blue-color);
        margin: 20px auto;
    }
    ion-item:nth-child(2){
        .item-1{
        font-size: 5rem;
        text-align: center;}

        .item-2{
             text-align: center; 

        }

       
    }
    ion-item:nth-child(3){

        position: absolute;
        bottom: 0px;
    }

    .btn-white {
        border: none;
        // width: 50%;
        height: 47px;
        border-radius: 15px;
        color: white;
        font-size: 1.3em;
    }
       
}


}
