<ion-content padding>

<ion-slides #slider style="direction: ltr" class="image-slider" loop="true" slidesPerView="1" zoom="true" speed="200" (ionSlideDidChange)="slideChanged()">

        <ion-slide *ngFor="let pr of service.productsDetails" >

       <ion-grid style="direction: rtl">
           <ion-row justify-content-center align-items-stretch>


                <ion-col col-2 no-padding class="package-right">
                  <ion-row>
          <ion-col col-12 align-self-end>
             <img [src]="pr.IcoUrl"/>
   <br>
             {{pr.ProductShortName}}
                 </ion-col>

         <ion-col col-12 align-self-end>
           <button ion-button color="gray-color" block *ngIf="pr.VideoUrl" class="btn-white" (click)="this.goToVideo()">לצפיה
               <i class="icon-arrow-left-03" margin-right ></i>
           </button>
         </ion-col>
       </ion-row>

              </ion-col>
         <ion-col col-6 class="bg-light-blue package-center">
           <ion-row justify-content-center >
             <ion-col >
           <ion-item  [style.background-image]="'url('+pr.PictureUrl+')'"></ion-item>
          </ion-col>
           </ion-row>
                </ion-col>

                <ion-col col-3  class="package-left" >
                   <ion-row >
                     <ion-col col-12 align-self-end>
                       <ion-item>
                         <span float-right>
                         {{pr.Duration}}</span>

                         <p  float-left *ngFor="let split of pr.DurationText.split(' ')">
                       {{split}}
                      <br></p>
                       </ion-item>
                       <ion-item>

                           <p class="item-1">{{pr.Price}}</p>
                           <p class="item-2"> לא כולל מע"מ ₪</p>
                       </ion-item>
               </ion-col>

     <ion-col col-12 align-self-end >

     <button ion-button color="light-blue-color" block class="btn-white"  (click)="this.AddToCart(pr)">הוסף לסל</button>

     </ion-col>
   </ion-row>
   </ion-col>

   <ion-col col-1 align-self-center>

     <i margin-right class="icon-arrow-left-03 f-size-big" (click)="slider.slideNext()"></i>

     <!--
    [ngClass]="{'icon-arrow-left-03 f-size-big': prevDisabled, 'icon-arrow-left-03 f-size-big': nextDisabled}" -->
   </ion-col>

     </ion-row>
   </ion-grid>
   </ion-slide>
   </ion-slides>

</ion-content>

<!-- <ion-content padding>
    <ion-grid>
        <ion-row justify-content-center align-items-stretch>


             <ion-col col-2 no-padding class="package-right">
               <ion-row>
       <ion-col col-12 align-self-end>
          <img [src]="service.thisProductDetails.IcoUrl"/>
<br>
          {{service.thisProductDetails.ProductShortName}}
              </ion-col>

      <ion-col col-12 align-self-end>
        <button ion-button color="gray-color" block *ngIf="service.thisProductDetails.VideoUrl" class="btn-white" (click)="this.goToVideo()">לצפיה
            <i class="icon-arrow-left-03" margin-right></i>
        </button>
      </ion-col>
    </ion-row>


    <ion-col col-1 align-self-center>
<i margin-right class="icon-arrow-left-03 f-size-big" (click)="isSlider? slider.slideNext() : this.isSliderFunc()"></i>
           <!-- </ion-col>
      <ion-col col-6 class="bg-light-blue">
       <ion-item   [style.background]="'url('+service.thisProductDetails.PictureUrl+')'"></ion-item>
             </ion-col>
          <ion-col col-3  class="package-left" >
                <ion-row >
                  <ion-col col-12 align-self-end>
                    <ion-item>
                      <span float-right>
                      {{service.thisProductDetails.Duration}}</span>


                      <span  float-left>
                    {{service.thisProductDetails.DurationText}}</span>
                    </ion-item>
                    <ion-item>

                        <p class="item-1">{{service.thisProductDetails.Price}}</p>
                        <p class="item-2"> לא כולל מע"מ ₪</p>
                    </ion-item>
            </ion-col>

  <ion-col col-12 align-self-end >

  <button ion-button color="light-blue-color" block class="btn-white"  (click)="this.AddToCart()">הוסף לסל</button>

  </ion-col>
</ion-row>
</ion-col>


<ion-col col-1 align-self-center>
<i margin-right class="icon-arrow-left-03 f-size-big"></i>


</ion-col>

  </ion-row>
</ion-grid>
</ion-content> -->
