<ion-content padding>
  <!-- <button ion-button (click) = "onGoToPayOptionsPage()"> Push </button> -->
 <div class="container-lia container">
    <div class="col-md-12 col-xs-12">
        <h3 class="blue"> פרטי עסק</h3></div>


         <div *ngIf="!this.anotherDetails" >

            <form [formGroup]="frmBusiness" (ngSubmit)="this.submitFrmBusiness(frmBusiness.value)">
                <ion-grid>

                <ion-row>
                  <ion-col>
                <ion-item>
                    <ion-input type="text" [placeholder]="this.StoreObj.StoreName? this.StoreObj.StoreName : 'שם העסק'"   formControlName="name"  ></ion-input>
                  </ion-item>
                </ion-col>

<ion-col>
                  <ion-item>
                      <ion-input type="number" [placeholder]="this.StoreObj.HP? this.StoreObj.HP : 'ח.פ'"  formControlName="PrivatelyHeldCompany" pattern="[0-9]*" ></ion-input>
                    </ion-item>
                  </ion-col>

<ion-col>
                    <ion-item>
                        <ion-input type="number" [placeholder]="this.StoreObj.Phone? this.StoreObj.Phone : 'טלפון בית עסק'"  formControlName="phone" pattern="[0-9]*" ></ion-input>
                      </ion-item>
                    </ion-col>
                    </ion-row>

<ion-row>
<ion-col>
                      <ion-item>
                          <ion-input type="text" [placeholder]="this.StoreObj.Address? this.StoreObj.Address : 'כתובת בית עסק'"  formControlName="address"  ></ion-input>
                        </ion-item>
                      </ion-col>

<ion-col>
                        <ion-item>
                            <ion-input type="text" [placeholder]="this.StoreObj.Long? this.StoreObj.Long : 'כתובת אתר העסק'"  formControlName="websiteAddress" ></ion-input>
                          </ion-item>
                        </ion-col>

<ion-col>
                          <ion-item>
                              <ion-input type="text" [placeholder]="this.StoreObj.Categories? this.StoreObj.Categories : 'קטגורית העסק'" formControlName="category"  ></ion-input>
                            </ion-item>
                          </ion-col>
</ion-row>

                            <button ion-button type="submit" [disabled]="!this.StoreObj && !this.frmBusiness.valid"  block>המשך</button>
                </ion-grid>
            </form>


        </div>

          <div *ngIf="this.anotherDetails">


          <form [formGroup]="frmMoredetails" >


<ion-grid>

        <ion-row>
           <ion-content padding style="height: 400px" >

              <ion-item>
                <p>{{imageURI}}</p>
                <a (click)="getImage()">לוגו</a>
                <!-- <button ion-button color="secondary" (click)="getImage()">Get Image</button> -->
              </ion-item>
              <ion-item>
                <h4>Image Preview</h4>
                <!-- <img src="{{imageURI}}" *ngIf="imageURI"  width="300" /> -->
                <!-- <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" /> -->
              </ion-item>
              <ion-item>
                <!-- <button ion-button (click)="uploadFile()">Upload</button> -->
              </ion-item>
             </ion-content>
            </ion-row>

          <!-- <input type="file" accept=".jpg, .jpeg, .png"  id="file"  name="file" style="display:none" (change)="this.handleInputChange($event)" (load)="this.handleImageLoad()"  formControlName="logo"> -->
          <img />

          <ion-row>
<ion-col>
          <ion-item>
              <ion-input type="text" [placeholder]="this.StoreObj.OpenHours? this.StoreObj.OpenHours : 'שעות פתיחה'"  formControlName="OpeningHours" ></ion-input>
            </ion-item>
          </ion-col>

<ion-col>
            <ion-item>
                <ion-input type="number" [placeholder]="this.StoreObj.MinPriceToTicket? this.StoreObj.MinPriceToTicket : 'מינימום לכרטיס'"   formControlName="min" pattern="[0-9]*"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>

          <!-- <input type="submit" value="המשך" [disabled]="!frmMoredetails.valid" /> -->

          <button ion-button type="submit" block [disabled]="!(this.frmMoredetails.valid) && !this.StoreObj" (click)="this.submitFrmMoreBusiness(this.frmMoredetails.value);onGoToPayOptionsPage()">המשך</button>


        </ion-grid>
          </form>
              </div>


            </div>


</ion-content>

