<ion-content padding>
  <!-- <button ion-button (click) = "onGoToPayOptionsPage()"> Push </button> -->

            <form [formGroup]="frmBusiness" (ngSubmit)="this.submitFrmBusiness(frmBusiness.value)" *ngIf="!this.anotherDetails">
                <ion-grid>
  <h3 color="blue-color" padding-left> פרטי עסק</h3>
              <ion-row >
                  <ion-col col-9>
              <ion-row>
                  <ion-col>
                <ion-item>
                    <ion-input type="text" [placeholder]="this.StoreObj.StoreName? this.StoreObj.StoreName : 'שם העסק'"   formControlName="name"  ></ion-input>
                  </ion-item>
                </ion-col>

                  <ion-col>
                  <ion-item>
                      <ion-input type="number" [placeholder]="this.StoreObj.HP? this.StoreObj.HP : 'ח.פ'"  formControlName="PrivatelyHeldCompany" pattern="[0-9]*" ></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col>
                    <ion-item>
                        <ion-input type="number" [placeholder]="this.StoreObj.Phone? this.StoreObj.Phone : 'טלפון בית עסק'"  formControlName="phone" pattern="[0-9]*" ></ion-input>
                      </ion-item>
                    </ion-col>

                </ion-row>


                  <ion-row>
                      <ion-col>
                      <ion-item>
                          <ion-input type="text" [placeholder]="this.StoreObj.Address? this.StoreObj.Address : 'כתובת בית עסק'"  formControlName="address"  ></ion-input>
                        </ion-item>
                      </ion-col>

                        <ion-col>
                        <ion-item>
                            <ion-input type="text" [placeholder]="this.StoreObj.Long? this.StoreObj.Long : 'כתובת אתר העסק'"  formControlName="websiteAddress" ></ion-input>
                          </ion-item>
                        </ion-col>

                          <ion-col block>
                          <ion-item>

                          <ion-select interface="popover" formControlName="category" placeholder="קטגורית העסק" class="border-input" block multiple="true" >
                          <ion-option *ngFor="let option of this.StoreObj.Categories? this.StoreObj.Categories : this.Categories" >{{option}}</ion-option>
                          </ion-select>
                                                      </ion-item>
                                                    </ion-col>
                                            </ion-row>

                          </ion-col>
                          <ion-col>

                            <!-- <button ion-button type="submit" [disabled]="!this.StoreObj || !this.frmBusiness.valid" color="blue-color" block class="height-button-w">המשך</button> -->
                             <button ion-button type="submit" color="blue-color" block class="height-button-w">המשך</button>
                          </ion-col>
                          </ion-row>
                </ion-grid>
            </form>


          <form [formGroup]="frmMoredetails"  *ngIf="this.anotherDetails">


      <ion-grid>
        <ion-row>
            <ion-col col-1><p >לוגו</p></ion-col>

            <ion-col col-2 >


                <!-- <p>{{imageURI}}</p> -->
                <!--<button ion-button color="secondary" (click)="getImage()">Get Image</button> -->

                <!-- <img src="{{imageURI}}" *ngIf="imageURI" alt="Ionic File" width="300" /> -->
                <!-- [style.background]="'url('+imageURI+')'" -->


                <ion-item (click)="getImage()"no-margin text-center class="height-button-w  f-size-big border-input">
                    <i class="color-opacity" [ngClass]="{'icon-gallery':!imageURI}"></i>
                  <img [src]="imageURI" *ngIf="imageURI"  width="300" />
                </ion-item>


                 </ion-col>
       <ion-col>
          <ion-item>
              <ion-input class="height-button-w" type="text" [placeholder]="this.StoreObj.OpenHours? this.StoreObj.OpenHours : 'שעות פתיחה'"  formControlName="OpeningHours" ></ion-input>
            </ion-item>
          </ion-col>

        <ion-col>
            <ion-item>
                <ion-input class="height-button-w" type="number" [placeholder]="this.StoreObj.MinPriceToTicket? this.StoreObj.MinPriceToTicket : 'מינימום לכרטיס'"   formControlName="min" pattern="[0-9]*"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
          <!-- <input type="submit" value="המשך" [disabled]="!frmMoredetails.valid" /> -->
          <button no-margin block  color="blue-color" class="height-button-w" ion-button type="submit" block [disabled]="!(this.frmMoredetails.valid) && !this.StoreObj" (click)="this.submitFrmMoreBusiness(this.frmMoredetails.value);onGoToPayOptionsPage()">המשך</button>
            </ion-col>
        </ion-row>
        </ion-grid>
          </form>







<!--  -->
<!-- <ion-content padding>
  <button ion-button color="primary" (click)="accessGallery()">Open Gallery</button>
  <img [src]="base64Image" *ngIf="base64Image" />
 </ion-content> -->
<!--  -->

</ion-content>

