page-package-selected {

.part-4{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: 1px solid white;
    padding:1%; 

    
    
    
}

    .part-3 {
        // height: calc(81vh - 140px);
        border-left: 1px solid #fff;
        // position: relative;
    
    
        .part-3-inner {
            // position: absolute;
            // top: 50%;
            // -webkit-transform: translateY(-50%);
            // transform: translateY(-50%);
            // width: 100%;
        
        
            div {
                padding: 1%;
                padding-right: 7%;

                i {
                    font-size: 1.8em;
                    color: white;
                    vertical-align: middle;
                    float: left;
                    margin-left: 6%;
                }
                
                span {
                    font-size: 1.8em;
                    color: white;
                }
            }
        }


    }

    .btn-font-transparent {
        font-size: 1.8em;
        background: transparent;
        border: none;
        color: #fff;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: inherit;

        &:hover:not(.disable-hover) {
            background-color: transparent;
            color: #565656;
            box-shadow: none;
        }
    }
    
    .ParentProductId:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .btn-white {
        background: white;
        border: none;
        width: 50%;
        height: 47px;
        border-radius: 14px;
        color: #f1bf1c;
        font-size: 1.3em;
    }
    

}
