page-package-selected {
    
    .thumb-img {
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        background-position: center;
    }
.part-4{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: 1px solid white;
    padding:1%; 

    
    
    
}

    .part-3 {
        border-left: 1px solid #fff;  
    
        .part-3-inner {
           
        
            div {
                padding: 1%;
                // padding-right: 7%;

                i {
                    font-size: 2.2em;
                    color: white;
                    vertical-align: middle;
                    float: left;
                    line-height: 1.5em;
                }
                
                span {
                    font-size: 1.8em;
                    color: white;
                    width: 93%;
                    display: inline-block;
                    white-space: normal;
                    vertical-align: middle;
                }
            }
        }


    }

    .part-5{
        p{
            color:white;
            font-size: 1.7rem;
        }
    }

    .btn-font-transparent {
        font-size: 2.2em;
        background: transparent;
        border: none;
        color: #fff;
        box-shadow: none;
        margin: 0;
        padding: 0;

        &:hover:not(.disable-hover) {
            background-color: transparent;
            color: #565656;
            box-shadow: none;
        }
    }
    
    .ParentProductId:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .btn-white {
        background: white;
        border: none;
        height: 47px;
        border-radius: 15px;
        font-size: 1.3em;


      
    }

    .button-md:hover:not(.disable-hover) {
        background-color: #e6e6e6;
      }

    .height-auto{
    height: inherit;}

  

}
