
 <ion-content padding >
  <ion-grid>
     <ion-row justify-content-center align-items-stretch >

          <ion-col col-4 no-padding><page-package [package]="nowPackage"> </page-package></ion-col>

          <ion-col *ngIf="!service.isPackageProductDetailed"  class="bg-yellow part-3" col-6 [ngClass]="{'bg-pink':nowPackage.packageColor=='bg-pink','bg-green':nowPackage.packageColor=='bg-green'}">
            <ion-row justify-content-center>
                  <ion-col *ngIf="products" class="part-3-inner" align-self-center>
                                      <div    *ngFor="let p of products"  >
                                          <div (click)="details(p)">
                                                  <span> {{p?.ProductLongName}}</span>
                                                  <i class="icon-arrow-left-03"></i>
                                          </div>
                          </div>

                  </ion-col>
                </ion-row>
          </ion-col>

          <ion-col *ngIf="service.isPackageProductDetailed" class="bg-yellow" col-2 [ngClass]="{'bg-pink':nowPackage.packageColor=='bg-pink','bg-green':nowPackage.packageColor=='bg-green'}">
            <div >
            <p> {{product?.ProductLongName}}</p>
            <p> {{product?.ProductName}}</p>
            <!-- <i [src]="product?.IcoUrl"></i> -->
            <button ion-button  block *ngIf="product.VideoUrl" type="button" (click)="routeToVideo()" class="btn-white" [style.color]="nowPackage.packageColor=='bg-yellow' ? '#f1bf1c ' : (nowPackage.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">לצפיה
                <i class="icon-arrow-left-03" margin-right ></i>
            </button>
          
            </div>
          </ion-col>


          <ion-col *ngIf="service.isPackageProductDetailed" class="bg-yellow" col-5 [ngClass]="{'bg-pink':nowPackage.packageColor=='bg-pink','bg-green':nowPackage.packageColor=='bg-green'}">
                <ion-item  class="thumb-img"[style.background-image]="'url('+product.PictureUrl+')'" ></ion-item>

              <!-- <img [src]="product.PictureUrl"/> -->
          </ion-col>

          <ion-col class="bg-yellow part-4" [ngClass]="{'bg-pink':nowPackage.packageColor=='bg-pink','bg-green':nowPackage.packageColor=='bg-green'}"  [ngClass]="{'col-2':!service.isPackageProductDetailed,'col-1':service.isPackageProductDetailed}">
             <ion-row>

                <ion-col col-12 align-self-start no-padding>
                    <button  float-left class="btn-font-transparent" (click)="navCtrl.pop(navCtrl)" >
                      <i class="icon-icon-x_Artboard-2-01 "></i>
                    </button>
                    <button float-left margin-left class="btn-font-transparent" *ngIf="service.isPackageProductDetailed" (click)="details()">
                      <i class="icon-arrow-right-02"></i>
                    </button>
                  </ion-col>

               <ion-col col-12 align-self-start>
            <button ion-button  block  type="button" *ngIf="!service.isPackageProductDetailed" 
              class="btn-white"  (click)="this.BackToCart();this.service.clickAddPackageToCart(nowPackage)" [style.color]="nowPackage.packageColor=='bg-yellow' ? '#f1bf1c ' : (nowPackage.packageColor=='bg-green' ? '#7ec141 ':(nowPackage.packageColor=='bg-pink' ? '#e12468 ':'black'))">
            הוסף לסל</button>
          </ion-col>
          
            </ion-row>
          </ion-col>

      </ion-row>
</ion-grid>
</ion-content>
