
 <ion-content padding >
  <ion-grid>
     <ion-row justify-content-center align-items-stretch >

          <ion-col no-padding><page-package [package]="nowPackage"> </page-package></ion-col>

          <ion-col *ngIf="!service.isPackageProductDetailed"  class="bg-yellow part-3" col-6 >
                  <div class="part-3-inner">
                          <div *ngFor="let p of products" >
                                          <div (click)="details(p)">
                                                  <span> {{p.ProductLongName}}</span>
                                                  <i class="icon-arrow-left-03"></i>
                                          </div>
                          </div>

                  </div>
          </ion-col>

          <ion-col *ngIf="service.isPackageProductDetailed" class="bg-yellow ">
            <div >
            <p> {{product.ProductLongName}}</p>
            <p> {{product.ProductName}}</p>
            <img [src]="product.PictureUrl"/>
            <input *ngIf="product.VideoUrl" type="button" value="לצפיה"  (click)="routeToVideo()" class="btn-white" />
            </div>
          </ion-col>

          <ion-col class="bg-yellow part-4" col-2>
              <input type="button" *ngIf="!service.isPackageProductDetailed" class="center-center btn-white" value="הוסף לסל" (click)="this.BackToCart();this.service.clickAddPackageToCart(nowPackage)">
              <button ion-button float-left class="btn-font-transparent" (click)="navCtrl.pop(navCtrl)" >
                <i class="icon-icon-x_Artboard-2-01 "></i>
              </button>
              <button ion-button float-left class="btn-font-transparent" *ngIf="service.isPackageProductDetailed" (click)="details()">
                <i class="icon-arrow-right-02"></i>
              </button>
          </ion-col>

      </ion-row>
</ion-grid>
</ion-content>
