page-package {

  .package{
    // height: calc(81vh - 140px);
    position: relative;

     .package-right {

     div{
      color: #ffffff;
      font-size: 5em;
      line-height: 0px;
      font-weight: bold;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      top: 50%;}
    
    }
     .package-left {
            border: 1px solid #f1bf1c;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            text-align: center;


            ion-item:nth-child(1){
                font-size: 5rem;
                text-align: center;
              
                
                    .nth-child-span{ 
                    left: 15%;
                    -webkit-transform: translateX(-50%) rotate(90deg);
                    transform: translateX(-50%) rotate(-90deg);
                    top: 42%;
                    color: #f1bf1c;
                    position: absolute;
                    font-size: 1.5rem;}
                
                }
              

                ion-item:nth-child(2){
                width: 80%;
                border-bottom: 2px solid color($colors, yellow-color);
                border-top: 2px solid color($colors, yellow-color);
                margin: 20px auto;}

                
              
              
                ion-item:nth-child(3){
                font-size: 5rem;
                text-align: center;}   
        }

        .package-left-2 {
          border: 1px solid #f1bf1c;
          text-align: center;

          ion-item:nth-child(1){
              font-size: 5rem;
              text-align: center;
            
              
                  .nth-child-span{ 
                  left: 15%;
                  -webkit-transform: translateX(-50%) rotate(90deg);
                  transform: translateX(-50%) rotate(-90deg);
                  top: 42%;
                  color: #f1bf1c;
                  position: absolute;
                  font-size: 1.5rem;}
              
              }
            

              ion-item:nth-child(2){
              width: 80%;
              border-bottom: 2px solid #f1bf1c;
              border-top: 2px solid #f1bf1c;
              margin: 20px auto;}

              
            
            
              ion-item:nth-child(3){
              font-size: 5rem;
              text-align: center;}   
      }     

        }



  .rotate {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    justify-content: center;}


  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }

  page-all-packages .grid, page-all-packages .row {
    height: auto;
}

  .item-md {
   background: color($colors,  transpare);
  }

   .bg-yellow {
    background: color($colors, yellow-color);
  }

}

