

    <ion-grid no-padding>
    <ion-row class="package" justify-content-center>
       <ion-col  col-5 class="package-right " [ngClass]="{'bg-pink':package.packageColor=='bg-pink','bg-green':package.packageColor=='bg-green','bg-yellow':package.packageColor=='bg-yellow'}">
        <div class="rotate">
          {{package?.PackageName}}
        </div>
      </ion-col>
     
      <ion-col col-7 [ngClass]="{'package-left':!service.isInner,'package-left-2':service.isInner}" [style.border-color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">
        <div class="center-center">
          <ion-item>
           <strong [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">{{package?.TicketsNum}}</strong> 
            <span class="nth-child-span" [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">כרטיסים</span>
          </ion-item>
          <ion-item [style.border-color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">
            <span  float-right class="padding-40 center-center f-size-icon" [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">{{package?.PriceToTicket}}</span>
            <span float-left  [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">שקל
             <br/> לכרטיס
             <br/>בודד</span>
             
          </ion-item>
          <ion-item text-center>
              <strong class="item-1" [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">{{package?.PackagePrice}}</strong>
              <p class="item-2" [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c ' : (package.packageColor=='bg-green' ? '#7ec141 ':(package.packageColor=='bg-pink' ? '#e12468 ':'black'))">לא כולל מע"מ ₪</p>
          </ion-item>
        </div>
      </ion-col>

     </ion-row>
</ion-grid>


 <!--  -->
       <!--  -->
       <!-- <ion-col *ngIf="service.isInner" col-2 class="package-right gold">
          <div class="rotate">
            {{package?.PackageName}}
          </div>
        </ion-col> -->
        <!--  -->
        <!--  -->



     <!--  -->
      <!-- <ion-col *ngIf="service.isInner" col-4 class="package-left">
          <div>
            <ion-item>
              {{package?.TicketsNum}}
              <span class="nth-child-span">כרטיסים</span>
            </ion-item>
            <ion-item>
              <span float-right>{{package?.TicketCost}}</span>
              <span item-left float-left>שקל
               <br/> לכרטיס
               <br/>בודד</span>
               <ion-content></ion-content>
            </ion-item>
            <ion-item>
                {{package?.Price}}
            </ion-item>
          </div>
        </ion-col> -->
        <!--  -->
