

    <ion-grid no-padding>
    <ion-row class="package" justify-content-center>
       <ion-col  col-5 class="package-right " [ngClass]="{'bg-pink':package.packageColor=='bg-pink','bg-green':package.packageColor=='bg-green','bg-yellow':package.packageColor=='bg-yellow'}">
        <div class="rotate">
          {{package?.PackageName}}
        </div>
      </ion-col>
     
      <ion-col col-7 [ngClass]="{'package-left':!service.isInner,'package-left-2':service.isInner}">
        <div class="center-center">
          <ion-item>
            {{package?.TicketsNum}}
            <!-- [ngStyle]="{'color: #f1bf1c':package.packageColor=='bg-yellow'}" -->
            <span class="nth-child-span"  [style.color]="package.packageColor=='bg-yellow' ? '#f1bf1c' : (package.packageColor=='bg-green' ? '#7ec141':(package.packageColor=='bg-pink' ? '#e12468':'black'))">כרטיסים</span>
          </ion-item>
          <ion-item>
            <span padding-left float-right class="center-center f-size-icon">{{package?.PriceToTicket}}</span>
            <span float-left>שקל
             <br/> לכרטיס
             <br/>בודד</span>
             
          </ion-item>
          <ion-item text-center>
              <span class="item-1">{{package?.PackagePrice}}</span>
              <p class="item-2">לא כולל מע"מ ₪</p>
          </ion-item>
        </div>
      </ion-col>

     </ion-row>
</ion-grid>


 <!--  -->
       <!--  -->
       <!-- <ion-col *ngIf="service.isInner" col-2 class="package-right gold">
          <div class="rotate">
            {{package?.PackageName}}
          </div>
        </ion-col> -->
        <!--  -->
        <!--  -->



     <!--  -->
      <!-- <ion-col *ngIf="service.isInner" col-4 class="package-left">
          <div>
            <ion-item>
              {{package?.TicketsNum}}
              <span class="nth-child-span">כרטיסים</span>
            </ion-item>
            <ion-item>
              <span float-right>{{package?.TicketCost}}</span>
              <span item-left float-left>שקל
               <br/> לכרטיס
               <br/>בודד</span>
               <ion-content></ion-content>
            </ion-item>
            <ion-item>
                {{package?.Price}}
            </ion-item>
          </div>
        </ion-col> -->
        <!--  -->
