page-package {
  .rotate {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    justify-content: center;

    // }
  }
  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
  .scroll-content {
    overflow-y: hidden;
  }
  .bronze {
    background-color: red;
  }
  .silver {
    background-color: green;
  }
  .gold {
    background-color: yellow;
  }
}
