

   ion-app.md [padding], ion-app.md [padding] .scroll-content
{
    padding-top:55px;
}
.scroll-content {
    overflow-y: auto;
  }

ion-input, ion-textarea {
    border: 1px solid;
    border-radius: 16px;
    padding-right: 3px;
}

.item-md {
  
  background-color:transparent;}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #ffffff00;
    -webkit-box-shadow: #ffffff00;
    box-shadow: #ffffff00;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #ffffff00;
  -webkit-box-shadow: inset 0 -1px 0 0 #ffffff00;
  box-shadow: inset 0 -1px 0 0 #ffffff00;
}

.center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.relative{position: relative;}

.f-size-icon {
	font-size: 1.8em;
}

.form-50{
  width: 60%;
  margin: auto;
}
// .ion-page > ion-content
// {
//    top: 52px;//your headers height
// }

// $transition-normal:all 1s ease;

