page-login {
  


  .bg-login{
    background-color: #11106f;
    height: 100vh;
    width: 100%;
  }

  .width-50{
    width: 50%;
  }

  .gradient-color {
    background: #7dc041;
    background: -moz-linear-gradient(top, #7dc041 25%, #7dc041 25%, #e12468 25%, #e12468 25%, #e12468 50%, #f1bf1b 50%, #f1bf1b 75%, #f1bf1b 75%, #44bdd7 75%, #44bdd7 100%);
    background: -webkit-linear-gradient(top, #7dc041 25%,#7dc041 25%,#e12468 25%,#e12468 25%,#e12468 50%,#f1bf1b 50%,#f1bf1b 75%,#f1bf1b 75%,#44bdd7 75%,#44bdd7 100%);
    background: linear-gradient(to bottom, #7dc041 25%,#7dc041 25%,#e12468 25%,#e12468 25%,#e12468 50%,#f1bf1b 50%,#f1bf1b 75%,#f1bf1b 75%,#f1bf1b 75%,#44bdd7 75%,#44bdd7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc041', endColorstr='#44bdd7',GradientType=0 );
    width: 10px;
    height: 100%;
    float: left;
  }

        // * {
          
        //   transition:$transition-normal;

        // }
  

 
  #container{width: 300px; margin-left: auto; margin-right: auto;}



  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
  
 
  
  
  .logo-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-login-mini {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
 
  .arrow-login-open {
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
  
  .arrow-login-open-mini {
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  
//   .hoverbtn.small {
//     font-size: 20px;
//     line-height: 45px;
//     width: 100%;
//     height: 45px;
//     margin: 7px;
// }

// .hoverbtn.mini {
//     font-size: 15px;
//     line-height: 32px;
//     width: 100%;
//     height: 30px;
//     margin: 7px;
// }

// .hoverbtn.auto-width {
//     width: auto;
//     height: auto;
//     padding: 15px;
// }

// .hoverbtn:after {
//     pointer-events: none;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     content: '';
//     -webkit-box-sizing: content-box;
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
// }

// .hoverbtn:before {
//     speak: none;
//     font-size: 48px;
//     line-height: 90px;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     display: block;
//     -webkit-font-smoothing: antialiased;
// }

// /* Effect 8 */
// .hoverbtn.effect-8 {
//     background: rgba(0, 0, 0, 0.1);
//     -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
//     -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
//     transition: transform ease-out 0.1s, background 0.2s;
// }

// .hoverbtn.effect-8:after {
//     top: 0;
//     left: 0;
//     padding: 0;
//     z-index: -1;
//     box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
//     opacity: 0;
//     -webkit-transform: scale(0.9);
//     -moz-transform: scale(0.9);
//     -ms-transform: scale(0.9);
//     transform: scale(0.9);
// }

// .hoverbtn.effect-8:hover {
//     background: rgba(0, 0, 0, 0.05);
//     -webkit-transform: scale(0.93);
//     -moz-transform: scale(0.93);
//     -ms-transform: scale(0.93);
//     transform: scale(0.93);
//     color: #000;
// }

// .hoverbtn.effect-8:hover i {
//     color: #000;
// }

// .hoverbtn.effect-8:hover:after {
//     -webkit-animation: sonarEffect 1.3s ease-out 75ms;
//     -moz-animation: sonarEffect 1.3s ease-out 75ms;
//     animation: sonarEffect 1.3s ease-out 75ms;
// }

// @-webkit-keyframes sonarEffect {
//     0% {
//         opacity: 0.3;
//     }
//     40% {
//         opacity: 0.5;
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//     }
//     100% {
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//         -webkit-transform: scale(1.5);
//         opacity: 0;
//     }
// }

// @-moz-keyframes sonarEffect {
//     0% {
//         opacity: 0.3;
//     }
//     40% {
//         opacity: 0.5;
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//     }
//     100% {
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//         -moz-transform: scale(1.5);
//         opacity: 0;
//     }
// }

// @keyframes sonarEffect {
//     0% {
//         opacity: 0.3;
//     }
//     40% {
//         opacity: 0.5;
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//     }
//     100% {
//         box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
//         transform: scale(1.5);
//         opacity: 0;
//     }
// }
}
