page-login {

  .bg-login{
    background-color: #11106f;
    height: 100vh;
    width: 100%;
    transition:$transition-normal;
    
  }

  .width-50{
    width: 50%;
 transition:$transition-normal;
  }

  .gradient-color {
    background: #7dc041;
    background: -moz-linear-gradient(top, #7dc041 25%, #7dc041 25%, #e12468 25%, #e12468 25%, #e12468 50%, #f1bf1b 50%, #f1bf1b 75%, #f1bf1b 75%, #44bdd7 75%, #44bdd7 100%);
    background: -webkit-linear-gradient(top, #7dc041 25%,#7dc041 25%,#e12468 25%,#e12468 25%,#e12468 50%,#f1bf1b 50%,#f1bf1b 75%,#f1bf1b 75%,#44bdd7 75%,#44bdd7 100%);
    background: linear-gradient(to bottom, #7dc041 25%,#7dc041 25%,#e12468 25%,#e12468 25%,#e12468 50%,#f1bf1b 50%,#f1bf1b 75%,#f1bf1b 75%,#f1bf1b 75%,#44bdd7 75%,#44bdd7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc041', endColorstr='#44bdd7',GradientType=0 );
    width: 10px;
    height: 100%;
    float: left;
  }

  #container{width: 300px; margin-left: auto; margin-right: auto;}

  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
 
  .logo-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:$transition-normal;
  }

  .logo-login-mini {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    transition:$transition-normal;
  }
  
 
  .arrow-login-open {
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    transition:$transition-normal;
  }
  
  .arrow-login-open-mini {
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition:all 0.9s ease;;
  }
}
