// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f53d3d,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

// my-color
 yellow-color:    #f1bf1b,
 green-color :    #7ec141,
 blue-color:      #16264e,
 blue-2-color :   #2e3092,
 pink-color :     #e12468,
 light-blue-color:#45bfd8,
 red-color:       #ed1c24,
 gray-color:      #f3f3f3,
 transpare: rgba(255, 0, 0, 0),
// my-color
);

$list-md-border-color:transparent;
$app-direction: rtl;
$button-md-border-radius:15px;
$searchbar-md-input-border-radius:15px;

// $list-md-border-color:($colors, pink-color);

$tabs-background:color($colors, gray-color);

$tabs-md-tab-color-active:color($colors, red-color);

.tabs-md .tab-button[aria-selected=true] {
    border-top: 2px solid red;
}
// .item-md.item-block .item-inner {
// 	border-bottom: none;
//   }

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

$ionicons-font-path: "../assets/fonts";

@import "icomoon";
// @import "ionic.ionicons";
@import "ionicons";
// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// @import "lia";

// bg-color

.bg-yellow {
	background: color($colors, yellow-color);
}
.bg-green {
	background: color($colors, green-color);
}
.bg-blue {
	background: color($colors, blue-color);
}
.bg-blue-2 {
	background: color($colors, blue-2-color);
}
.bg-pink {
	background: color($colors, pink-color);
}
.bg-light-blue {
	background: color($colors, light-blue-color);
}
.bg-red {
	background: color($colors, red-color);
}
.bg-gray {
	background: color($colors,gray-color);
}

// bg-color
