tabs{
    // body.keyboard-is-open.ion-tabbar {
    //     display: none;
    //   }
      
    //   body.keyboard-is-open.scroll-content {
    //     margin-bottom: 0 !important;
    //   }
    // $toolbar-md-active-color: green;
    // $tab-button-md-active-color: color($colors, dark);

    //     ion-app.md [padding], ion-app.md [padding] .scroll-content
    // {
    //     padding-top:30px;
    // }
    // #notification-button {            
    //     position: relative;
    //     width: 42px;
    //     top:1px;
    //     right: 1px;
    //     overflow: visible!important;
    // }


    // #notifications-badge {
    //     background-color: red;
    //     position: absolute;
    //     top: -3px;
    //     right: -3px;
    //     border-radius: 100%;
    // }

    .tabs-md .tab-button[aria-selected=true] {
        border-top: 3px solid color($colors, secondary);
        }
    
        .tabs-md .tab-button[aria-selected=true]:nth-child(0) {
            border-top: 3px solid color($colors, secondary);
            }
        

    .tabs-md .tab-button[aria-selected=true]:nth-child(1) {
        border-top: 3px solid color($colors, yellow-color);
        }
    
    .tabs-md .tab-button[aria-selected=true]:nth-child(2) {
        border-top: 3px solid color($colors, light-blue-color);
    }
    .tabs-md .tab-button[aria-selected=true]:nth-child(3) {
        border-top: 3px solid color($colors, pink-color);
        }
    
    .tabs-md .tab-button[aria-selected=true]:nth-child(4) {
        border-top: 3px solid color($colors, green-color);
    }
    .tabs-md .tab-button[aria-selected=true]:nth-child(5) {
        border-top: 3px solid  color($colors, blue-color);
        }

    .toolbar-background-md {
        background:transparent;
    }

    .toolbar-content-md{
        text-align: center;
    }

    ion-title{
        display: inline-block;
        width: auto;
    }

    .logo-header {
        // top: 50%;
        // position: absolute;
        -webkit-transform: translatey(0%) scale(0.6);
        transform: translatey(0%) scale(0.6);
        
    }

    .user-name {
        float: left;
        margin-left: 6%;
        color: white;
        font-size: 2rem;
        // line-height: 11vh;
    }

    .header-name {
        color: #fff;
        text-align: center;
        font-size: 1.4em;
        // line-height: 11vh;
        margin: 0;
    }

    .header-name span {
        border-left: 1px solid #fff;
        padding: 0 40px;
        border-right: 1px solid #fff;
    }

    .toolbar-title-md {
        color: #ffffff;
    }

    .bar-button-default-md {
        color: #ffffff;

        
    }
    .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
        color: #cecece;
    }


   // footer

   
.has-icon .tab-badge {
    border-radius: 50%;
    top: 34%;
    opacity: 1;
    width: 23px;
    height: 23px;
    padding: 0px;
    line-height: 22px;
    right: calc(50% - 43px);
}



// button {
   
	// ion-badge {
	// 	position: absolute;
	// 	top: -0.2rem;
	// 	right: -0.2rem;
	// 	opacity: 0.9;

	// 	& ~ ion-icon {
	// 		margin-right: 1.2rem;
	// 	}
    // }
    
    .tabs-md .tab-button.icon-only {    
      
            &:before{
            
                content: "";
                background-color:#59595B;
                position: absolute;
                width: 1px;
                height: 70%;
                top: 10px;
                left: 0%;

                // :first-child{
                //     content: "";
                //     background-color: #e40000d2;
                //     position: absolute;
                //     width: 3px;
                //     height: 70%;
                //     top: 10px;
                //     left: 0%;  
                // }
            }

           
        }
        
        }


  

 