

.container-lia {
	width: 100%;
	height: 81vh;
	padding: 70px;
	overflow-y: auto;
	overflow-x: hidden;
}

.p-none {
	padding: 0;
}

.f-size-icon {
	font-size: 1.8em;
}

.border-bottam-table {
	border-bottom: 1px solid;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 40px;
	height: 40px;
}

.btn-width {
	width: 100%;
	margin-bottom: 10px;
	color: white;
	border-radius: 12px;
}

.btn-width:hover {
	-webkit-filter: brightness(85%);
	filter: brightness(85%);
	color: white;
}

.btn-width:active {
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
	color: white;
}

.input-difult {
	width: 100%;
	border-radius: 12px;
	margin-bottom: 10px;
	height: 34px;
	border: 1px solid;
	
}

.height-78 {
	height: 78px;
}




.alert-number {
	height: 20px;
	width: 20px;
	background: #ed1c24;
	color: white;
	border-radius: 50%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: text-bottom;
}

.name-ticket {
	height: calc(81vh - 140px);
	background: #f1bf1b;
	position: relative;
}

.name-ticket div {
	color: #ffffff;
	font-size: 5em;
	line-height: 0px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	top: 50%;
}

.bord {
	border: 1px solid #f1bf1c;
	height: calc(81vh - 140px);
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	text-align: center;
}

.bord-2 {
	border: 1px solid #f1bf1c;
	height: calc(81vh - 140px);
	text-align: center;
}


.Line-buffer {
	width: 80%;
	height: 2px;
	background-color: #f1bf1b;
	margin: 20px auto;
}

.TicketsNum-inner {
	font-size: 5em;
	color: #f1bf1c;
}

.ticket-sub {
	position: absolute;
	left: 10%;
	-webkit-transform: translateX(-50%) rotate(90deg);
	transform: translateX(-50%) rotate(-90deg);
	top: 42%;
	color: #f1bf1c;
}

.position-relative {
	position: relative;
}

.ticket-cost {
	font-size: 3em;
	display: inline-block;
	vertical-align: middle;
}

.ticket-cost-text {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	line-height: 15px;
}



.center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





// @-webkit-keyframes sonarEffect {
// 	0% {
// 		opacity: 0.3;
// 	}

// 	40% {
// 		opacity: 0.5;
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 	}

// 	100% {
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 		-webkit-transform: scale(1.5);
// 		opacity: 0;
// 	}
// }

// @-moz-keyframes sonarEffect {
// 	0% {
// 		opacity: 0.3;
// 	}

// 	40% {
// 		opacity: 0.5;
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 	}

// 	100% {
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 		-moz-transform: scale(1.5);
// 		opacity: 0;
// 	}
// }

// @keyframes sonarEffect {
// 	0% {
// 		opacity: 0.3;
// 	}

// 	40% {
// 		opacity: 0.5;
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 	}

// 	100% {
// 		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
// 		transform: scale(1.5);
// 		opacity: 0;
// 	}
// }



// @keyframes slideRight {
// 	0% {
// 		transform: translateX(-150%);
// 	}

// 	100% {
// 		transform: translateX(0%);
// 	}
// }

// @-webkit-keyframes slideRight {
// 	0% {
// 		-webkit-transform: translateX(-150%);
// 	}

// 	100% {
// 		-webkit-transform: translateX(0%);
// 	}
// }

